/* Definere teksten generelt */
body{
    text-align: center;
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/*får tabellen til at se flot ud*/
table{
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    margin-bottom: 40px;
}



/* Laver foot på album siden*/
.footeralbum{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    background-color: #ffffff;
}

/* Definere hvordan tabellen skal se ud, og skifter farve når man hover */

.album-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    margin-top: 150px;
}

.album-table tr th{
    background-color: #009879;
    color: white;
    text-align: center;
    font-weight: bold;
}

.album-table tr td{
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.album-table tr:hover{
    background-color: rgb(118, 109, 109);
}

/* Ændrer farve og sørger for at hover effekten også virker, på disse kolloner*/
.thecolor{
    background-color: #f3f3f3;
}

.thecolor tr:hover{
    background-color: rgb(118, 109, 109);
}

/* Sætter placering på fodnoten i bunden*/
.div{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #736b6bbc;
    padding-bottom: 10px;
}
