/* Definerer teksten generelt */
body{
    text-align: center;
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Styling til table */
table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

td, th {
  border: 1px solid #8f8f8f;
  text-align: left;
  padding: 8px;
}



/* Ændre farven på hvert anden child element af table, men udeluk th tags */
table :nth-child(even) :not(th){
  background-color: #d8d6d6;
} /* Denne linje kode ødelægger det hele af mit css, kan ikk lave knap farve om */


/* Anden farve når man hover over dem */
tbody :hover :not(th){
  background-color: #7f7d7d;
}


/* Laver foot på album siden*/
.footeralbum{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    background-color: #ffffff;
}

/* Giver div med classen 'buttons' stylen så de går ind i center */
.buttons{ 
  display: flex;
  justify-content: center;
}

/* Alle tracklister div' bliver samme størrelse som det content de har */
#trackLister{
  display: inline-block;
}

/* giver noget plads mellem li nummeret og track navnet */
li{
  padding-left: 8px;
}
